/* Start Global */
/* latin */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url('../fonts/DroidFont.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
*{
    font-family: 'Droid Serif', serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: lightgray
}

.container{
    width: 1200px;
    margin: auto;
    min-width: 1200px
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar, 
.header,
.services,
.our-team,
.testim,
.our-projects,
.footer {min-width: 1200px}

/* End Global */
/****************************************/
/* Start NavBar */
.navbar {
    font-size: 18px;
    height: 0;
    color: white;
    position: relative;
    z-index: 2;
}

.navbar .brand {
    float: left;
    width: 50%;
    text-transform: uppercase;
    margin-top: 12px
}
.navbar .brand span {
    color: #3489db;
}

.navbar .links {
    float: left;
    width: 50%;
    margin-top: 25px;
}

.navbar .links li {
    display: inline-block;
    padding: 10px 10px;
    margin: 0 5px;
    border-bottom: 2px solid transparent
}
.navbar .links li a{
    color: white;
    text-decoration: none
}

.navbar .links li.active,
.navbar .links li:hover {
    background-color: #3489db;
    border-radius: 15px;
    transition: all 1s ease-in-out;
    color: #fff;
    cursor: pointer
}
.navbar .links li.active a,
.navbar .links li a:hover {
    color: #fff;
    cursor: pointer
}
/* End NavBar */
/**************************************/
/* Start Header */
.header{
    background: url('../images/header.jpg');
    position: relative;
}
.header .overlay {
    background-color: rgba(0, 0 ,0 , 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    z-index: 1
}
.header .bx-wrapper {
    height: 100%
}

.header .bx-wrapper .bx-viewport {
    box-shadow: none;
    border: 0;
    background: none;
    height: 100% !important;
    text-align: center
}

.header .bxslider {
    height: 100%
}

.header .bxslider li {
    display: block
}

.header .bxslider li h2 {
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: bold
}
.header .bxslider li h2 span {
    color: #3489db;
}
/* End Header */
/*************************************/
/* Start Services */
.services{
    padding: 80px 20px 40px;
}
.services h2{
    margin: 0 0 50px
}
.services .item {
    float: left;
    width: 30%;
    margin: 1.5%;
    text-align: center;
    height: 250px;
    padding: 10px;
    text-align: center;
    font-size: 28px;
    background-color: #2c3e50;
    color: #fff;
    transition: all 0.5s ease-in-out;
    border-radius: 10px;
}
.services .item:hover{
    border-radius: 50%;
    box-shadow:0px 0px 50px black;
}
.services .item i{
    color: #3489db;
}

.our-team {
    padding: 40px 20px
}

.our-team .box {
    float: left
}

.our-team .box:first-child {
    width: 35%
}

.our-team .box p {
    color: #888;
    line-height: 1.5;
    font-size: 14px;
    text-align: justify
}

.our-team .box:not(:first-child) {
    width: 15.25%;
    margin-left: 1%;
    position: relative;
}

.our-team .box:not(:first-child) .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    line-height: 183px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    background-color: #3489db;
    opacity: 0.8;
    border-radius: 25px;
    display: none;
}

.our-team .box:not(:first-child):hover .overlay {
    display: block
}

.our-team .box:not(:first-child) img {
    width: 100%;
    border-radius: 25px;
}

.our-team h2 {
    padding: 0 0 15px
}
/* End Services */
/*************************************/
/* Start Testimonials */

.testim {
    background: url('../images/workbench.jpg');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 80px 0
}

.testim .t-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0, 0, 0, .8)
}

.testim h2 {
    font-size: 40px;
    margin: 80px 0 10px;
}
.testim h2 span{
    padding-bottom: 10px;
    border-bottom: 3px solid #fff
}

.testim q {
    font-size: 20px;
    line-height: 2;
    color: #D0D0D0;
    display: block;
    margin-top: 60px
}

.testim p {
    font-size: 30px;
    color: #3489db
}

.testim .slider > div {
    display: none
}

.testim .slider .active {
    display: block
}

/* End Testimoanials */
/*************************************/
/* Start Projects */
.projects{
    padding: 60px 0
}
.projects ul{
    margin-top: 50px;
}
.projects ul li{
    display: inline-block;
    border: 2px solid #888787;
    color: #888787;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}
.projects ul li.selected{
    background-color: #3489db;
    color: #fff;
    border: 2px solid #3489db;
}
.projects .gallery{
    margin-top: 50px;
    overflow: hidden;
}
.projects .gallery .row > div:nth-child(2){
    margin-left: 1%;
    margin-right: 1%
}
.projects .gallery .row > div{
    width: 32.66667%;
    float: left;
    margin-bottom: 15px;
    position: relative
}
.projects .gallery .row > div .over {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 99%;
    line-height: 232px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    background-color: #3489db;
    opacity: 0.9;
    display: none
}
.projects .gallery .row > div .over button{
    width: 150px;
    height: 50px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.projects .gallery .row > div .heart {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #FFF;
    display: none
}
.projects .gallery .row > div:hover .over,
.projects .gallery .row > div:hover .heart {
    display: block;
    border-radius: 10px;
}
.projects .gallery  .row > div img{
    border-radius: 10px;
    width: 100%
}
.projects .mix{
    display: none
}
/* End projects */
/*************************************/
/* Start Footer */
.footer{
    background-color: #232323;
    color: #6c6c6c;
    padding: 40px 0 0 0;
    overflow: hidden
}
.footer .col{
    float: left;
    width: 30%;
    margin-right: 1%
}
.footer .col h2{
    color: #fff;
    font-size: 18px
}
.footer .col p{
    margin-bottom: 30px;
    line-height: 1.6;
}
.footer .col i {
    display: inline-block;
    color: #979797;
    border: 1px solid #979797;
    width: 40px;
    padding: 10px
}
.footer .tags span {
    display: inline-block;
    color: #CCC;
    border: 1px solid #979797;
    padding: 10px;
    margin-right: 5px;
    margin-bottom: 10px
}
.footer .contact form{
    padding: 20px;
    border: 1px solid #979797;
    border-radius: 20px;
    background-color: #1E1F21
}
.footer .contact form:hover{
    box-shadow:0px 0px 70px black;
    transition: all 1s ease-in-out
}
.footer .contact input{
    display:block;
    width:300px;
    margin:0 auto;
    padding:15px;
    background:rgba(0,0,0,0.76);
    color:#fff;
    border: 0;
    border-radius: 10px;
}
.footer .contact input[type=submit]:hover{
    cursor: pointer;
    background-color: #2196F3;
    box-shadow:0px 0px 50px black;
    transition: all 1s ease-in-out
}
.footer .contact input:focus{
    outline: 0;
    box-shadow:0px 0px 50px black;
    transition: all 1s ease-in-out
}
.footer .copyright {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}
/* End Footer */
/*************************************/
/* Start My Framework */

.clearfix{
    clear: both
}
.special-heading{
    position: relative
}
.special-heading:after{
    content: "";
    display: block;
    position: absolute;
    top: 40px;
    left: 20px;
    width: 55px;
    border-bottom: 2px solid #333;
}
.separator{
    border: 1px solid #eee;
}
/* End My Framework */